
.box::after{
    content: attr(title);
}

.box::before{
    content: 'öncesi';
    background: blue;
}

a[target="_blank"]::after {
    content:'(' attr(href) ')';
}
.par::first-letter{
    color: red;
    font-size: 60px;
}
.par::first-line{
    background-color: yellow ;
}
::selection{
    background: yellow;
}

.pla{color: aqua;}
.pla::placeholder{color: brown;}
.plas{color: blueviolet;}

.divv ul:last-child { background: rgb(48, 85, 59);}

div:first-of-type{color: aquamarine;}

.listnth li:nth-child(3){
    background: violet;
}

.listnth li:nth-child(odd){
    font-size: 3 px;
}

.hov li:hover{background: lime;}

.hove:hover{
    background: rgb(59, 73, 128);
}
.hove span:hover{
    background: coral;
}

.but:hover + .hov{ 
    display: none;
}

.url::after{
  content:  '(' attr(href) ')' ;
}
.url:hover::after{
    display: none;
}

input[type="radio"]:checked + span {
    color: red;
}
.checkbox{
    display: none;
}
.checkbox:checked + #boxx{
display: none;}

.btnn::before{
    content: attr(data-hide);
}
.checkbox:checked + .btnn::before{
    content: attr(data-show);
}

.checkbox:checked + .btnn + #boxx{
    display: none;
}